extends base

block content
  // Start Landing Section
  section.landing
    .container
      .landing--slider
        .landing--slide.fade
          img.img(src='./imgs/Landing-Slider/1.jpg' alt='tour-img')
        .landing--slide.fade
          img.img(src='./imgs/Landing-Slider/2.jpg' alt='tour-img')
        .landing--slide.fade
          img.img(src='./imgs/Landing-Slider/3.jpg' alt='tour-img')
        .landing--slide.fade
          img.img(src='./imgs/Landing-Slider/4.jpg' alt='tour-img')
        .landing--slide.fade
          img.img(src='./imgs/Landing-Slider/5.jpg' alt='tour-img')
  // End Landing Section

  // Start items Example Section
  section.items_example
    .container
      .section-heading(style='  margin-bottom: 1rem;')
        img.svg(src='./imgs/sec-1.svg' alt='svg')
        h2 Discover All Classifieds
      .blocks__container
        .block
          .block__content
            h3 Books
            a.view__more-btn(href='/search?category=Books')
              | View more 
              i.fa-solid.fa-angles-right.icon
          .cards.block__cards
           each item in Books
            .card
              a.body(href='item.html')
                img.img(src='./imgs/default.jpg' alt=`${item.title}`)
                .box-1-4
                  .location
                    i.fa-solid.fa-location-dot.icon
                    |  #{item.city}
                  .price EGP #{item.price.toLocaleString("en-EG")}
                    - const diffDays = Math.floor(Math.abs(new Date() - item.createAt) / (1000 * 60 * 60 * 24));
                    - let createAt = `${diffDays} days ago`
                    - if(diffDays == 0) createAt= `Today`
                  .createAt= createAt
                .box-2-4
                  h3.title #{item.title}
                  p.desc
                    | #{item.description.substring(0,120)}...
                a.btn.details-btn(href='#') More Details          
        .block
          .block__content
            h3 Electronics
            a.view__more-btn(href='/search?category=Electronics')
              | View more 
              i.fa-solid.fa-angles-right.icon
          .cards.block__cards
           each item in Electronics
            .card
              a.body(href='item.html')
                img.img(src='./imgs/default.jpg' alt=`${item.title}`)
                .box-1-4
                  .location
                    i.fa-solid.fa-location-dot.icon
                    |  #{item.city}
                  .price EGP #{item.price.toLocaleString("en-EG")}
                    - const diffDays = Math.floor(Math.abs(new Date() - item.createAt) / (1000 * 60 * 60 * 24));
                    - let createAt = `${diffDays} days ago`
                    - if(diffDays == 0) createAt= `Today`
                  .createAt= createAt
                .box-2-4
                  h3.title #{item.title}
                  p.desc
                    | #{item.description.substring(0,120)}...
                a.btn.details-btn(href='#') More Details
        .block
          .block__content
            h3 Services
            a.view__more-btn(href='/search?category=Services')
              | View more 
              i.fa-solid.fa-angles-right.icon
          .cards.block__cards
           each item in Services
            .card
              a.body(href='item.html')
                img.img(src='./imgs/default.jpg' alt=`${item.title}`)
                .box-1-4
                  .location
                    i.fa-solid.fa-location-dot.icon
                    |  #{item.city}
                  .price EGP #{item.price.toLocaleString("en-EG")}
                    - const diffDays = Math.floor(Math.abs(new Date() - item.createAt) / (1000 * 60 * 60 * 24));
                    - let createAt = `${diffDays} days ago`
                    - if(diffDays == 0) createAt= `Today`
                  .createAt= createAt
                .box-2-4
                  h3.title #{item.title}
                  p.desc
                    | #{item.description.substring(0,120)}...
                a.btn.details-btn(href='#') More Details
        .block
          .block__content
            h3 Accessories
            a.view__more-btn(href='/search?category=Accessories')
              | View more 
              i.fa-solid.fa-angles-right.icon
          .cards.block__cards
           each item in Accessories
            .card
              a.body(href='item.html')
                img.img(src='./imgs/default.jpg' alt=`${item.title}`)
                .box-1-4
                  .location
                    i.fa-solid.fa-location-dot.icon
                    |  #{item.city}
                  .price EGP #{item.price.toLocaleString("en-EG")}
                    - const diffDays = Math.floor(Math.abs(new Date() - item.createAt) / (1000 * 60 * 60 * 24));
                    - let createAt = `${diffDays} days ago`
                    - if(diffDays == 0) createAt= `Today`
                  .createAt= createAt
                .box-2-4
                  h3.title #{item.title}
                  p.desc
                    | #{item.description.substring(0,120)}...
                a.btn.details-btn(href='#') More Details
        .block
          .block__content
            h3 Other 
            a.view__more-btn(href='/search?category=Other')
              | View more 
              i.fa-solid.fa-angles-right.icon
          .cards.block__cards
           each item in Other
            .card
              a.body(href='item.html')
                img.img(src='./imgs/default.jpg' alt=`${item.title}`)
                .box-1-4
                  .location
                    i.fa-solid.fa-location-dot.icon
                    |  #{item.city}
                  .price EGP #{item.price.toLocaleString("en-EG")}
                    - const diffDays = Math.floor(Math.abs(new Date() - item.createAt) / (1000 * 60 * 60 * 24));
                    - let createAt = `${diffDays} days ago`
                    - if(diffDays == 0) createAt= `Today`
                  .createAt= createAt
                .box-2-4
                  h3.title #{item.title}
                  p.desc
                    | #{item.description.substring(0,120)}...
                a.btn.details-btn(href='#') More Details
  // End items Example Section
  
  // Start features Section
  section.features
    .container
      .section-heading
        img.svg(src='./imgs/sec-2.svg' alt='svg')
        h2 Why UniHub?
      .boxes
        .box
          .box_img
            img(src='./imgs/features-1.svg' alt='svg')
          .box_content
            h3 Easy buying and selling
            p
              | UniHub makes it easy for college students to buy and sell textbooks, tools, and other items related to their studies. Users can browse listings and make offers all within the app.
        .box
          .box_img
            img(src='./imgs/features-2.svg' alt='svg')
          .box_content
            h3 Customizable profiles
            p
              | Users can create customizable profiles on UniHub, which can include information about their studies, interests, and items they are looking to buy or sell. This can help users find and connect with others who share similar interests and needs.
        .box
          .box_img
            img(src='./imgs/features-3.svg' alt='svg')
          .box_content
            h3 Mobile-friendly
            p
              | UniHub is designed to be mobile-friendly, which means that users can access the platform from their smartphones and tablets. This can make it easier for them to stay up-to-date with all classifieds.
        .box
          .box_img
            img(src='./imgs/features-4.svg' alt='svg')
          .box_content
            h3 Search and filter
            p
              | UniHub includes a search and filter feature that allows users to quickly find the items they are looking for. Users can search by keyword, filter by category or price range, and sort by date posted. This can help users save time and find exactly what they need.
  // End features Section
