extends base

block content
    // Start Items Section
    section.items
        .container
            if items.length === 0
                .error__block
                    i.fa-solid.fa-triangle-exclamation.error__icon  
                    .error__message 
                        h2.error__heading Oops... we didn't find anything that matches 
                            span "#{heading}"
                        p.error__desc Try to search for something more general, change the filters or check for spelling mistakes 


            else
                .filter__block
                    .filter__col
                        h2 Sort By
                        .filter__labels
                            label
                                input(type='radio' name='sort' value='-createAt')
                                |                   Newly listed
                            label
                                input(type='radio' name='sort' value='price')
                                |                   Lowest price
                            label
                                input(type='radio' name='sort' value='-price')
                                |                   Highest price
                    .filter__col
                        h2 Condition
                        .filter__labels
                            label
                                input(type='radio' name='condition' value='Used')
                                |                   Used
                            label
                                input(type='radio' name='condition' value='New')
                                |                   New
                    .filter__col
                        h2(style=' text-align: center') Locations
                        .filter__labels
                            select#city
                                option(value='') Select a city
                                option(value='Cairo') Cairo
                                option(value='Alexandria') Alexandria
                                option(value='Giza') Giza
                                option(value='PortSaid') Port Said
                                option(value='Suez') Suez
                                option(value='Luxor') Luxor
                                option(value='Mansoura') Mansoura
                                option(value='Tanta') Tanta
                                option(value='Asyut') Asyut
                                option(value='Ismailia') Ismailia
                                option(value='Fayyum') Fayyum
                                option(value='Zagazig') Zagazig
                                option(value='Damietta') Damietta
                                option(value='Aswan') Aswan
                                option(value='Minya') Minya
                                option(value='Damanhur') Damanhur
                                option(value='BeniSuef') Beni Suef
                                option(value='Hurghada') Hurghada
                                option(value='Qena') Qena
                                option(value='Sohag') Sohag
                    .filter__col
                        h2(style=' text-align: center') Categories
                        .filter__labels
                            select#category
                                option(value='') Select a category
                                option(value='Books') Books
                                option(value='Services') Services
                                option(value='Electronics') Electronics
                                option(value='Tools') Tools
                                option(value='Accessories') Accessories
                                option(value='Other') Other


                .page__heading 
                    h2 Results For  
                        span "#{heading}"
                .cards__block
                    .cards
                        each item in items
                            .card
                                a.body(href=`/item/${item._id}`)
                                    img.img(src=`./imgs/items/${item.coverImg}` alt=`${item.title}`)
                                    .box-1-4
                                        .location
                                            i.fa-solid.fa-location-dot.icon
                                            |  #{item.city}
                                        .price EGP #{item.price.toLocaleString("en-EG")}
                                            - const diffDays = Math.floor(Math.abs(new Date() - item.createAt) / (1000 * 60 * 60 * 24));
                                            - let createAt = `${diffDays} days ago`
                                            - if(diffDays == 0) createAt= `Today`
                                        .createAt= createAt
                                    .box-2-4
                                        h3.title #{item.title}
                                        p.desc
                                            | #{item.description.substring(0,120)}...
                                    a.btn.details-btn(href=`/item/${item._id}`) More Details    
    // End Items Section

    // Start Pagination Btns
    .pagination
        for page in Array(totalPages).fill().map((_, i) => i + 1)
            if page === currentPage
                a.active(href=`?${urlParams}&page=${page}`)= page
            else
                a(href=`?${urlParams}&page=${page}`)= page
    // End Pagination Btns

    // Script File
    script(type='text/javascript' , src='/js/filtration.js')
